/1P/3-HolaMundo/nbproject/private/
/1P/3-HolaMundo/build/
/1P/j/nbproject/private/
/1P/j/build/
/1P/Operadores/nbproject/private/
/1P/Operadores/build/
/1P/5-HolaMundo/nbproject/private/
/1P/5-HolaMundo/build/
/1P/5-Expresiones/nbproject/private/
/1P/5-Expresiones/build/
